<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sudhashree" >

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SudhaShree.NoActionBar"
        tools:node="merge" >
        <activity
            android:name=".SelectEditOption"
            android:exported="false"
            android:label="@string/title_activity_select_edit_option"
            android:theme="@style/Theme.SudhaShree.NoActionBar.NoActionBar" />
        <activity
            android:name=".SelectTabActivity"
            android:exported="false"
            android:label="@string/title_activity_select_tab"
            android:theme="@style/Theme.SudhaShree.NoActionBar.NoActionBar" />
        <activity
            android:name=".SelectOption"
            android:exported="false"
            android:label="@string/title_activity_select_option"
            android:theme="@style/Theme.SudhaShree.NoActionBar.NoActionBar" />
        <activity
            android:name=".AddNewData"
            android:exported="false" />
        <activity
            android:name=".EditActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SudhaShree.NoActionBar" />
        <activity
            android:name=".SplashSceen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>